<template name="boardCard">
  <div class="list card">
    <a href="{{pathFor 'boardShow'}}">
      <div class="board-card-name item">
        <h2>{{name}}</h2>
      </div>
      <div class="item item-image board-cover">
        <img src="{{coverImage}}" alt="" />
      </div>
    </a>
    {{#if canModify}}
      <div class="item">
        <i class="ion-edit board-edit"></i>
        <i class="ion-trash-b board-delete"></i>
      </div>
    {{!-- {{else}}
      <div class="item">
        {{#if following}}
          <i class="ion-plus follow-board">Follow</i>
        {{else}}
          <i class="ion-minus unfollow-board">Unfollow</i>
        {{/if}}
      </div> --}}
    {{/if}}
    <div class="item board-edit-form hidden">
      <label class="item item-input item-floating-label">
        <input class="name-input" type="text" placeholder="Name">
      </label>
      <button class="button button-outline button-balanced complete-update">Update</button>
      <button class="button button-outline button-dark cancel-update">Cancel</button>
    </div>
  </div>
</template>
