<template name="boardPostItem">
  {{#ionItem href="#" class="row responsive-sm post"}}
    <div class="thumbnail col col-10">
      <img src="{{content.data.thumbnail}}" alt="" />
    </div>
    <div class="score col col-10">
      {{content.data.score}}
    </div>
    <div class="description col col-80">
      <div class="item-text-wrap">
        <h2>{{content.data.title}}</h2>
      </div>
      <p>
        by: {{content.data.author}} | to: {{content.data.subreddit}}
      </p>
    </div>
  {{/ionItem}}
</template>
