<template name="layout">
  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{>yield}}
    {{/ionNavView}}

    {{#ionTabs}}
      {{> ionTab title="Home" path="postsList" icon="home"}}
      {{> ionTab title="Boards" path="boardsList" icon="bookmark"}}
      {{#if currentUser}}
        {{> ionTab title="Profile" icon="person" class="public-profile"}}
      {{else}}
        {{> ionTab title="Login" path="login" icon="person"}}
      {{/if}}
      {{> ionTab title="Newsfeed" path="newsfeed" icon="navicon"}}
    {{/ionTabs}}
  {{/ionBody}}
</template>
