<template name="layout">
  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{>yield}}
    {{/ionNavView}}

    {{#ionTabs}}
      {{> ionTab title="Home" path="postsList" icon="home"}}
      {{> ionTab title="Boards" path="boardsList" icon="bookmark"}}
      {{#if currentUser}}
        {{> ionTab title="Profile" href=currentUrl icon="person"}}
      {{else}}
        {{> ionTab title="Profile" path="login" icon="person"}}
      {{/if}}
      {{> ionTab class="has-badge unreadNotif" title="Newsfeed" path="newsfeed" icon="navicon" badgeNumber=unreadNotifications badge-style="badge-assertive"}}
    {{/ionTabs}}
  {{/ionBody}}
</template>
