<template name="userPublic">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">hello</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <h1>{{username}}</h1>
      {{#unless isCurrent}}
        <button class="button button-outline button-positive follow-user">Follow</button>
      {{/unless}}
      {{#each boards}}
        {{> boardCard}}
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>
