$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';


.score {
  float: left;
  font-size: 2em;
  margin-right: 10px;
}

img, #player, iframe {
  width: 100%;
}

iframe {
  height: 400px;
}

.post-title {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #239FC4;
}

.error {
  border: 1px solid red;
}

.ion-edit, .ion-trash-b {
  font-size: 1.5em;
  cursor: pointer;
}

.ion-edit {
  margin-right: 4%;
}
