$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

img, #player, iframe {
  width: 100%;
}

iframe {
  height: 400px;
}

.post-title {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #239FC4;
}

.error {
  border: 1px solid red;
}

.ion-edit, .ion-trash-b {
  font-size: 1.5em;
  cursor: pointer;
}

.ion-edit {
  margin-right: 4%;
}

.hidden {
  display: none;
}

.follow-or-edit {
  margin-top: 10px;
}

.centered {
  text-align: center;
}

.user-item-title {
  font-size: 1.2em;
  font-weight: bold;
}

.post-item-title {
  font-size: 1.2em;
}

.profile-numbers > .col {
  font-size: 1.5em;
  padding: 0;
  text-align: center;
}

.number-labels > .col {
  padding: 0;
  text-align: center;
}

.profile-username {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.settings {
  font-size: 1.8em;
}

.add-board-plus {
  font-size: 2.5em;
}

.youtube-playlist {
  font-size: 2em;
}

.name-label {
  z-index: 50;
}

.board-card-name {
  text-align: center;
}
