<template name="newsfeed">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Newsfeed</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each notifications}}
          {{#if boardCreated}}
            {{#ionItem class="row responsive-sm post"}}
              <div>
                <strong><a href='/users/{{userId}}'>{{userName}}</a></strong>
                <h6>{{date}}</h6>
                <p>created the board <a href='/boards/{{boardId}}'>{{boardName}}</a></p>
              </div>
            {{/ionItem}}
          {{/if}}
          {{#if postAdded}}
            {{#ionItem class="row responsive-sm post"}}
              <div class="">
                <strong><a href='/users/{{userId}}'>{{userName}}</a></strong>
                <h6>{{date}}</h6>
                <p>added a post to <a href='/boards/{{boardId}}'>{{boardName}}</a></p>
              </div>
            {{/ionItem}}
          {{/if}}
          {{#if startedFollowing}}
            {{#ionItem class="row responsive-sm post"}}
              <div>
                <strong><a href='/users/{{userId}}'>{{userName}}</a></strong>
                <h6>{{date}}</h6>
                <p>started following you!</p>
              </div>
            {{/ionItem}}
          {{/if}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
