<template name="postShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{post.subreddit}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="row responsive-sm">
        <div class="col col-10"></div>
        <div class="col col-80">
          <a target="_blank" href="{{post.url}}"><span class="post-title">{{post.title}}</span></a>
          <p>
            by: {{post.author}}
          </p>
          {{#unless postSaved}}
            {{#if currentUser}}
              <button data-ion-modal="saveModal" class="button button-outline button-calm save-modal">Save</button>
            {{/if}}
          {{/unless}}
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row responsive-sm">
        <div class="col col-10"></div>
        <div class="col col-80">
          {{#if post.redditText}}
            {{> textShow}}
          {{/if}}
          {{#if post.imgurImage}}
            {{> imgurImageShow}}
          {{/if}}
          {{#if post.imgurGifv}}
            {{> imgurGifvShow}}
          {{/if}}
          {{#if post.imgurGallery}}
            {{> imgurGalleryShow}}
          {{/if}}
          {{#if post.imgurAlbum}}
            {{> imgurAlbumShow}}
          {{/if}}
          {{#if post.youtube}}
            {{> youtubeShow}}
          {{/if}}
          {{#if post.vimeo}}
            {{> vimeoShow}}
          {{/if}}
        </div>
        <div class="col col-10"></div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
