<template name="postShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{subreddit}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if imgurImage}}
        {{> imgurImageShow}}
      {{/if}}
      {{#if imgurGallery}}
        {{> imgurGalleryShow}}
      {{/if}}
      {{#if youtube}}
        {{> youtubeShow}}
      {{/if}}
      {{#if vimeo}}
        {{> vimeoShow}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
