<template name="postsList">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Re-Reddit</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="row">
        <div class="col col-20">
          <label class="item item-input">
            <input type="text" placeholder="subreddit">
          </label>
        </div>
        <div class="col col-10">
          <button class="button button-balanced find-sub">
            Submit
          </button>
        </div>
        <div class="col col-20">
          <button data-ion-modal="addBoardModal" class="button">Add Board</button>
        </div>
      </div>
      {{#ionList}}
        {{#each posts}}
          {{> postItem}}
        {{/each}}
      {{/ionList}}
      <button data-page=0 class="button button-block button-positive load-more">Load More</button>
    {{/ionContent}}
  {{/ionView}}
</template>
