<template name="postsList">
  {{#contentFor "headerButtonLeft"}}
    <i class="ion-play youtube-playlist"></i>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Re-Reddit</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="row">
        <div class="col col-70">
          <label class="item item-input">
            <input type="text" placeholder="subreddit">
          </label>
        </div>
        <div class="col col-30">
          <button class="button button-balanced find-sub">
            Submit
          </button>
        </div>
      </div>
      {{#unless postsLoaded}}
        {{> spinner}}
      {{/unless}}
      {{#ionList}}
        {{#each posts}}
          {{> postItem}}
        {{/each}}
      {{/ionList}}
      <div class="row">
        {{#unless firstPage}}
          <button class="button button-block button-energized load-prev">Prev</button>
        {{/unless}}
      </div>
      <div class="row">
        <button class="button button-block button-positive load-next">Next</button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
