<template name="postsList">
  {{#contentFor "headerButtonLeft"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Re-Reddit</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="row">
        <div class="col col-67">
          <label class="item item-input">
            <input type="text" placeholder="subreddit...">
          </label>
        </div>
        <div class="col col-20">
          <button class="button button-positive ion-search find-sub"></button>
        </div>
        <div class="col col-10">
          <button class="button button-outline button-assertive ion-play youtube-playlist"></button>
        </div>
      </div>
      {{#unless postsLoaded}}
        {{> spinner}}
      {{/unless}}
      {{#ionList}}
        {{#each posts}}
          {{> postItem}}
        {{/each}}
      {{/ionList}}
      <div class="row">
        {{#if firstPage}}
          <button class="button button-block button-positive load-next">Next</button>
        {{else}}
          <button class="button button-block button-positive load-prev col col-50">Prev</button>
          <button class="button button-block button-positive load-next col col-50">Next</button>
        {{/if}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
