<template name="postItem">
  {{#ionItem href=postURL class="row responsive-sm post"}}
    <div class="thumbnail col col-10">
      <img src="{{thumbnail}}" alt="" />
    </div>
    <div class="score col col-10">
      {{score}}
    </div>
    <div class="description col col-60">
      <div class="item-text-wrap">
        <h2>{{title}}</h2>
      </div>
      <p>
        by: {{author}} | to: {{subreddit}}
      </p>
    </div>
    <div class="col col-20">
      {{#if onBoard}}
        {{#if canModify}}
          <button class="button button-outline button-assertive remove-post">Remove</button>
        {{/if}}
      {{/if}}
    </div>
  {{/ionItem}}
</template>
