<template name="postItem">
  {{#ionItem href=postURL class="row post"}}
    <div class="thumbnail col col-20">
      <img src="{{thumbnail}}" alt="" />
    </div>
    <div class="description col col-60">
      <div class="item-text-wrap">
        <div class="post-item-title">{{title}}</div>
      </div>
      <p>
        by: {{author}} | to: {{subreddit}}
      </p>
    </div>
    {{#if onBoard}}
      {{#if canModify}}
        <div class="col col-20 col-center">
          <button class="button button-clear remove-post ion-close-round"></button>
        </div>
      {{/if}}
    {{/if}}
  {{/ionItem}}
</template>
