<template name="youtubePlaylist">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="row responsive-sm">
        <div class="col col-10"></div>
        <div class="col col-80">
          <div id="playlist-player"></div>
        </div>
        <div class="col col-10"></div>
      </div>
      <div class="row">
          <button class='previous-video button button button-positive ion-skip-backward col col-50'></button>
          <button class='next-video button button button-positive ion-skip-forward col col-50'></button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
