<template name="profile">
  {{#contentFor "headerTitle"}}
    {{#if currentUser}}
      <h1 class="title">Profile</h1>
    {{else}}
      <h1 class="title">Log In</h1>
    {{/if}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if currentUser}}
        <h1>welcome back {{currentUser.username}}</h1>
        <button class="button button-outline button-assertive log-out">Log Out</button>
        <div class="">
          <a href="/users/{{currentUser._id}}">See public profile</a>
        </div>
        {{followers}}
        {{following}}
      {{else}}
        {{> authForm}}
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
