<template name="userEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Edit Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <label class="item item-input">
        <input type="text" class="sign-up-username" placeholder="username">
      </label>
      <label class="item item-input">
        <input type="password" class="sign-up-password" placeholder="password">
      </label>
      <label class="item item-input">
        <input type="password" class="password-confirmation" placeholder="password confirmation">
      </label>
      <div class="">
        <button class="button button-positive">Save</button>
        <button class="button button-assertive log-out-button">Log Out</button>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
